<%- include('partials/header.ejs') %>

<body>
<%- include('partials/navbar.ejs') %>
<!-- About Section-->
<div class = "section-A">
    <div class = About-box>
        <img src="/Assets/images/Me.jpg" alt="NOT FOUND">
        <article>
            <h1>About Me</h1><br>
            My Name is Yousif Iskander
            I am in the Networking and IT Security Program for Ontario Tech
            I like to Play Video Games and D&D in my Spare Time
        </article>
    </div>
    <div class="video-player">
        <video controls src="/Assets/videos/About%20me%20Vid.mp4" typeof="video/mp4">
            Your browser doesn't support the video tag
        </video>
    </div>
</div>
<!--End About Section-->
<%- include('partials/footer.ejs') %>
</body>
</html>
