<%- include('partials/header.ejs') %>

<body>
<%- include('partials/navbar.ejs') %>
<!-- Project Section-->
<section id="projects">
    <!-- Header for the Projects section -->
    <header>
        <h1>Projects</h1>
    </header>
    <!-- Container to hold project boxes -->
    <div class="container">
        <!-- Project Box 1 -->
        <div class="box">
            <h2>Loan Payment Calculator</h2>
            <div class="content">
                <!-- Image related to the first project -->
                <img src="/Assets/images/Calculator.png" alt="Image 1">
                <a href="/Assets/files/Lab%20Assignment%202%20Calculator.py" download><h1>Project 1</h1></a><br>
                <!-- Description of the first project -->
                <p>This First Project was one of the first that i have completed<br>
                    while learning how to code Python for the first time.<br>
                    I learned how to make a calculator using everything I had learned.</p>
            </div>
        </div>

        <!-- Project Box 2 -->
        <div class="box">
            <h2>Drawing Application</h2>
            <!-- Image related to the first project -->
            <img src="/Assets/images/Counter.png" alt="Image 1">
            <a href="/Assets/files/100851999_Yousif_Iskander_Lab6_LetterCounter.py" download><h1>Project 2</h1></a><br>
            <div class="content">
                <!-- Description of the second project -->
                <p>This Second Project was Learning Object-Oriented Programing for Python.<br>
                    I learned how to make Program to Open a file and count the Words and then create a top 10</p>
            </div>
        </div>
    </div>
</section>
<!-- Project Section-->
<%- include('partials/footer.ejs') %>
</body>
</html>
