/* Home Section */
body{
    background: linear-gradient(to right bottom,#02735E,#736002);
}
#wrapper {
    width: 100%;
    height: 100%;
    padding-top: 5%;
    align-items: center;
}
#wrapper h1 {
    padding-top: 20px;
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    left: 25%;
    top: 10%;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}
#wrapper h1:nth-child(1) {
    animation-delay: 1s;
}
#wrapper h1:nth-child(2) {
    animation-delay: 2s;
}
#wrapper h1:nth-child(3) {
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 3s;
}
/* End Home Section */

/* Keyframes */
@keyframes navLinesPulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: #47060b;
    }
}
@keyframes text_reveal_name {
    100% {
        color: rgb(0, 0, 0);
        font-weight: 500;
    }
}
/* End Keyframes */


/* Contact Section */
#contact .container h1 {
    text-align: center;
    padding-top: 5px;
}
#contact .container label {
    font-size: 20px;
}
#contact input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 8px;
    resize: vertical
}
#contact input[type=number], select, textarea {
    font-size: 10px;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 8px;
    resize: vertical
}
#contact input[type=email], select, textarea {
    font-size: 10px;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 8px;
    resize: vertical
}
#contact input[type=submit] {
    font-size: 15px;
    background-color: #23472c;
    color: #47060b;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 47%;
    top: 10px;
}
#contact input[type=submit]:hover {
    background-color: #ffffff;
}
#contact .container {
    background: #23472c;
    background: -moz-linear-gradient(top, #23472c 0%, #4d4d4d 100%);
    background: -webkit-linear-gradient(top, #23472c 0%, #4d4d4d 100%);
    background: -o-linear-gradient(top, #23472c 0%, #4d4d4d 100%);
    background: linear-gradient(to bottom, #23472c 0%, #4d4d4d 100%);
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
#contact::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
/* End Contact Section */

/* About Section */
.section-A {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


.About-box {
    width: 300px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-right: 40px;
}


.About-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}


.video-player video {
    width: 500px;
    height: 300px;
    object-fit: cover;
}


.About-box, .video-player video {
    transition: transform 0.3s ease-in-out;
}

.About-box:hover {
    transform: scale(1.1);
}

/* End About Section */

/* Projects Section */

#projects .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px; /* Additional padding to compensate for fixed header */
}

.container {
    display: flex;
    flex-direction: row; /* Set flex-direction to row */
    align-items: center; /* Align items to the center of the container */
    justify-content: space-between; /* Add this line to distribute boxes evenly */
}

.box {
    background-color: #595252;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: calc(50% - 20px); /* Change this line to set the width of each box to half of the container width minus the margin */
    max-width: 800px;
    transition: 0.3s ease; /* Add a transition for smooth animation */
    transform: translateY(0); /* Initial transform value for the hover effect */
}

.box h1 {
    position: relative;
    left: 32%;
}

.box h2 {
    text-decoration: underline 2px #000000;
    font-size: 1.5rem;
    color: #5a0001;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
}

.box p {
    color: #000000;
    font-weight: 400;
    line-height: 1.2;
    font-family: "Jost", sans-serif;
}

.box:hover {
    transform: translateY(-10px); / Move the box up by 10px on hover /
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); / Add a larger shadow on hover */
}

.box img {
    width: 100%;
    height: 300px;
    object-fit: fill;
    border-radius: 5px;
}
/*End Project Section*/

/*Footer Section*/

.navbar-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50%;
}

.navbar-icons a {
    margin: 0 20%;

}

.navbar-icons a i {
    color: green;
    transition: transform 0.5s ease, color 0.5s ease;
}

.navbar-icons a:hover i {
    transform: scale(1.5);
    color: yellow;
}

/*End Footer Section*/